<!--<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center" style="text-align: center; background: black; color: white;">
      <div>
        <h4>Envio Gratis Pagos Contra Entrega
          <a [href]="urlwhat" target="_blank"
          class="aa-add-to-cart-btn pointer"
          style="    font-size: 210%; color: white; border-radius: 11px; text-decoration: none;"><span
          class="fa fab fa-whatsapp"></span> {{ data.numeroCelular }} </a>
        </h4>
      </div>
    </div>
  </div>
</div>
-->
<div>
    <app-menu-lateral></app-menu-lateral>
    <router-outlet></router-outlet>
    <!--<app-menu>
        <app-footer></app-footer>
    </app-menu>-->
</div>
