<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="section-title">Políticas de Envíos y Devoluciones</h1>
      <div class="policy-item">
        <h2>1. Envíos y Entregas</h2>
        <div class="policy-detail">
          <h4>a. Método de Envío:</h4>
          <p>Ofrecemos envíos contra entrega como opción para recibir tu pedido. El costo del envío contra entrega será detallado durante el proceso de compra.</p>
        </div>
        <div class="policy-detail">
          <h4>b. Tiempo de Entrega:</h4>
          <p>El tiempo estimado de entrega será proporcionado durante la compra y estará sujeto a disponibilidad y ubicación.</p>
        </div>
        <div class="policy-detail">
          <h4>c. Condiciones de Entrega:</h4>
          <p>Al elegir envío contra entrega, asegúrate de tener el importe exacto para pagar al mensajero al momento de la entrega.</p>
        </div>
      </div>

      <div class="policy-item">
        <h2>2. Devoluciones y Cambios</h2>
        <div class="policy-detail">
          <h4>a. Política de Devolución:</h4>
          <p>Aceptamos devoluciones dentro de los 30 días posteriores a la compra. Si no estás satisfecho con tu compra, comunícate con nuestro equipo de atención al cliente para coordinar la devolución.</p>
        </div>
        <div class="policy-detail">
          <h4>b. Condiciones de Devolución:</h4>
          <ul>
            <li>Los artículos deben estar en su estado original, sin haber sido usados y con las etiquetas intactas.</li>
            <li>El comprador es responsable de los costos de envío para devolver los productos, a menos que el motivo de la devolución sea un error de nuestra parte.</li>
            <li>Es necesario presentar el comprobante de compra para procesar la devolución.</li>
          </ul>
        </div>
        <div class="policy-detail">
          <h4>c. Proceso de Devolución:</h4>
          <ul>
            <li>Ponte en contacto con nuestro equipo de atención al cliente para iniciar el proceso de devolución.</li>
            <li>Te proporcionaremos instrucciones detalladas sobre cómo devolver el artículo.</li>
            <li>Una vez recibido el artículo devuelto y verificado su estado, procesaremos el reembolso o el cambio, según corresponda.</li>
          </ul>
        </div>
      </div>

      <div class="policy-item">
        <h2>3. Contacto y Soporte</h2>
        <div class="policy-detail">
          <p>Para cualquier consulta adicional o asistencia, no dudes en comunicarte con nuestro equipo de atención al cliente a través de correo electrónico o por teléfono al <span class="contact-phone">3208429429</span>.</p>
        </div>
      </div>

    </div>
  </div>
</div>
