.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.policy-item {
  margin-bottom: 30px;
}

.policy-item h2 {
  font-size: 1.5em;
  color: #2196F3; /* Blue color for headings */
  margin-bottom: 10px;
}

.policy-detail h4 {
  font-size: 1.2em;
  margin-top: 15px;
  color: #4CAF50; /* Green color for subheadings */
}

.policy-detail p {
  font-size: 1em;
  margin-bottom: 10px;
}

.policy-detail ul {
  margin-top: 10px;
  padding-left: 20px;
}

.contact-phone {
  color: #FF5722; /* Red color for contact phone */
}
