<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="overflow-x: scroll;">
            <br>
            <br>
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Mi configuracion</h4>
            </div>
            <div class="row p-3">
              <div class="col-12">
                <button class="p-2 btn btn-primary btn-just-icon btn-round" (click)="Actualizar()">
                  Actualizar Datos
                </button>
              </div>
                <div class="col-12 mx-auto">
                    <div class="mx-auto" style="width: 200px;">
                        <img [src]="data.logo" class="imgPerfil">
                    </div>
                </div>
                <div class="col-12">
                    <div class="row container">
                        <label>logo de la Tienda</label>
                        <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('logo')" *ngIf="files.length > 0">
                            Subir Imagen
                        </button>
                    </div>
                    <ngx-dropzone (change)="onSelect($event, false)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-6">
                    <label>Nombre Tienda</label>
                    <input type="text" [(ngModel)]="data.nombreTienda" class="form-control form-control-sm">
                </div>
                <div class="col-6">
                    <label>Numero Celular Empresa o Fijo</label>
                    <input type="text" [(ngModel)]="data.numeroCelular" class="form-control form-control-sm">
                </div>
                <div class="col-6">
                    <label>Email Tienda</label>
                    <input type="text" [(ngModel)]="data.emailTienda" class="form-control form-control-sm">
                </div>
                <div class="col-6">
                    <label>Direccion</label>
                    <input type="text" [(ngModel)]="data.direccionTienda" class="form-control form-control-sm">
                </div>
                <div class="col-6">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="data.configV">
                    <label class="form-check-label" for="defaultCheck1">
                      Activar Venta
                    </label>
                </div>
                <div class="col-12">
                    <label>Descripcion de la empresa</label>
                    <input type="text" [(ngModel)]="data.decripcion" class="form-control form-control-sm">
                </div>
                <div class="col-12">
                    <div class="row">
                        <div *ngFor="let item of data.foto1; let idx = index;" class="col-md-3 col-sm-4 col-lg-2 col-xs-6 col-6">
                            <div class="">
                                <img [src]="item.foto" class="imgPerfil">
                                <input type="text" [(ngModel)]="item.titulo" placeholder="Titulo" (change)="Actualizar()" class="form-control form-control-sm">
                                <button type="button" class="btn btn-danger" (click)="this.data.foto1.splice(idx, 1); Actualizar()">Borrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row container">
                        <label>Foto de portada 1 Tamaño 1920x700</label>
                        <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('foto1')" *ngIf="files.length > 0">
                            Subir Imagen
                        </button>
                    </div>
                    <ngx-dropzone (change)="onSelect($event, true)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div *ngFor="let item of data.foto2; let idx = index;" class="col-md-3 col-sm-4 col-lg-2 col-xs-6 col-6">
                            <img [src]="item.foto" class="imgPerfil">
                            <input type="text" [(ngModel)]="item.titulo" (change)="Actualizar()" placeholder="Titulo" class="form-control form-control-sm">
                            <button type="button" class="btn btn-danger" (click)="this.data.foto2.splice(idx, 1); Actualizar()">Borrar</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row container">
                        <label>Foto de Marcas Tamaño 300x320</label>
                        <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('foto2')" *ngIf="files.length > 0">
                            Subir Imagen
                        </button>
                    </div>
                    <ngx-dropzone (change)="onSelect($event, true)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-12 mx-auto">
                    <div class="mx-auto" style="width: 200px;">
                        <img [src]="data.portada1" class="imgPerfil">
                    </div>
                </div>
                <div class="col-12">
                    <div class="row container">
                        <label>Portada 1 tamaño 1170*170</label>
                        <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('portada1')" *ngIf="files.length > 0">
                            Subir Imagen
                        </button>
                    </div>
                    <ngx-dropzone (change)="onSelect($event, false)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-12 mx-auto">
                    <div class="mx-auto" style="width: 200px;">
                        <img [src]="data.comentario1" class="imgPerfil">
                    </div>
                </div>
                <div class="col-12">
                    <div class="row container">
                        <label>Fotos de Comentarios</label>
                        <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('comentario1')" *ngIf="files.length > 0">
                            Subir Imagen
                        </button>
                    </div>
                    <ngx-dropzone (change)="onSelect($event, false)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-12 mx-auto">
                    <div class="mx-auto" style="width: 200px;">
                        <img [src]="data.portada2" class="imgPerfil">
                    </div>
                </div>

                <div class="col-12">
                    <div class="row container">
                        <label>Fotos de Producto tamaño 1920*300</label>
                        <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('portada2')" *ngIf="files.length > 0">
                            Subir Imagen
                        </button>
                    </div>
                    <ngx-dropzone (change)="onSelect($event, false)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-12 mx-auto">
                    <div class="mx-auto" style="width: 200px;">
                        <img [src]="data.portada3" class="imgPerfil">
                    </div>
                </div>

                <div class="col-12">
                    <div class="row container">
                        <label>Fotos de Producto detalle 1920*300</label>
                        <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('portada3')" *ngIf="files.length > 0">
                            Subir Imagen
                        </button>
                    </div>
                    <ngx-dropzone (change)="onSelect($event, false)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>

                <div class="col-12 mx-auto">
                    <div class="mx-auto" style="width: 200px;">
                        <img [src]="data.portada4" class="imgPerfil">
                    </div>
                </div>

                <div class="col-12">
                    <div class="row container">
                        <label>Fotos de Contactos 1920*300</label>
                        <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('portada4')" *ngIf="files.length > 0">
                            Subir Imagen
                        </button>
                    </div>
                    <ngx-dropzone (change)="onSelect($event, false)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>


                <div class="col-6">
                    <br>
                    <button class="p-2 btn btn-primary btn-just-icon btn-round" (click)="Actualizar()">
                        Actualizar Datos
                    </button>
                </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
</div>
