.spacer {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-desktop {
  display: flex !important;
}

.toolbar-mobile {
  display: flex !important;
  justify-content: space-between;
}

.mobile-container {
  display: block !important;
}

.search-field {
  width: 300px;
}

.product-card {
  margin: 2px;
  text-align: center;
  transition: transform 0.2s;
  max-width: 100%;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.purchase-notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.purchase-notification img {
  margin-right: 10px;
}


/* Contenedor de la imagen */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; /* Aumentar la altura de la imagen */
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%; /* Hacer que la imagen ocupe todo el ancho */
  height: 100%; /* Hacer que la imagen ocupe todo el alto */
  object-fit: cover; /* Recorta la imagen para que llene el contenedor sin deformarse */
}

/* Título del producto */
.title {
  font-size: 18px; /* Reducir el tamaño del título */
  text-align: center;
  margin-top: 10px;
}

/* Precio del producto */
.price {
  text-align: center;
  font-size: 16px; /* Ajustar el tamaño del precio */
}



/* Para pantallas grandes */
@media (min-width: 768px) {
  .toolbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toolbar-mobile {
    display: none !important;
  }


  .search-field {
    display: block;
  }
}

/* Para dispositivos móviles */
@media (max-width: 767px) {
  .toolbar-desktop {
    display: none !important;
  }

  .toolbar-mobile {
    display: flex;
  }

  .mobile-container {
    display: block;
  }

  .search-field {
    display: none !important;
  }

  .search-field-mobile {
    width: 100%;
  }

  .product-card {
    margin: 2px;
  }
}

@media (max-width: 576px) {
}
